{
    "openapi": "3.0.0",
    "info": {
        "title": "CL Embed API",
        "description": "AI 기반 다국어 카테고리 추천 시스템 API. 사용자 텍스트를 분석하여 통합 카테고리 체계 기준으로 적합한 카테고리를 한국어/중국어/영어로 추천합니다. pgvector 코사인 유사도 검색, Ollama 로컬 모델 번역/임베딩, Laravel Queue 기반 비동기 파이프라인을 갖추고 있습니다.",
        "termsOfService": "https://embed.cunlim.dev",
        "contact": {
            "name": "CL Embed",
            "url": "https://embed.cunlim.dev"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://embed.cunlim.dev",
            "description": "프로덕션 서버"
        }
    ],
    "paths": {
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "회원가입",
                "description": "이메일과 비밀번호로 새 계정을 생성하고 Sanctum 토큰을 발급합니다.",
                "operationId": "c7bb21a0d87049e161b8e4c9b0d909f2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 8
                                    },
                                    "password_confirmation": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "회원가입 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "Bearer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "입력값 검증 실패"
                    },
                    "429": {
                        "description": "요청 횟수 초과"
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "로그인",
                "description": "이메일과 비밀번호로 로그인하고 Sanctum 토큰을 발급합니다.",
                "operationId": "dd51a484b7fa0f97c7680fdbde14cf5f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "로그인 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "Bearer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "인증 실패",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "입력값 검증 실패"
                    },
                    "429": {
                        "description": "요청 횟수 초과"
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "로그아웃",
                "description": "현재 인증 토큰을 무효화합니다.",
                "operationId": "df9bdc6c7a6d9f20b983526b2ec0f698",
                "responses": {
                    "200": {
                        "description": "로그아웃 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "인증 필요"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/auth/user": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "현재 사용자 정보",
                "description": "인증된 사용자의 정보를 반환합니다.",
                "operationId": "015ae3b99f0678ec8fe0a02409751660",
                "responses": {
                    "200": {
                        "description": "사용자 정보",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "인증 필요"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "카테고리 목록 조회",
                "description": "등록된 모든 카테고리를 조회합니다. 20개씩 페이지네이션됩니다.",
                "operationId": "ac9c4d978ea4e5b72915ca9728e5b8b1",
                "responses": {
                    "200": {
                        "description": "카테고리 목록",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "category_code": {
                                                        "type": "string"
                                                    },
                                                    "category_name_ko": {
                                                        "type": "string"
                                                    },
                                                    "category_name_zh": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "category_name_en": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "translation_status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "completed",
                                                            "partial",
                                                            "pending"
                                                        ]
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "from": {
                                                    "type": "integer"
                                                },
                                                "to": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "links": {
                                            "properties": {
                                                "first": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "last": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "카테고리 생성",
                "description": "카테고리를 생성하고 번역을 예약합니다.",
                "operationId": "cca49a87d9b0ebb9a98ad7c154b71737",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "category_name_ko"
                                ],
                                "properties": {
                                    "category_name_ko": {
                                        "type": "string",
                                        "maxLength": 255
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "카테고리 생성 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "category_code": {
                                                    "type": "string"
                                                },
                                                "category_name_ko": {
                                                    "type": "string"
                                                },
                                                "category_name_zh": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "category_name_en": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "입력값 검증 실패"
                    },
                    "401": {
                        "description": "인증 필요"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/categories/{category}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "카테고리 상세 조회",
                "description": "특정 카테고리의 상세 정보를 조회합니다.",
                "operationId": "ff3ab984d3fe877eb16da6009394d694",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "카테고리 상세",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "category_code": {
                                                    "type": "string"
                                                },
                                                "category_name_ko": {
                                                    "type": "string"
                                                },
                                                "category_name_zh": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "category_name_en": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "카테고리를 찾을 수 없음"
                    }
                }
            }
        },
        "/api/categories/{category}/translations": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "카테고리별 번역·임베딩 상태 조회",
                "description": "특정 카테고리의 언어별 번역 텍스트와 임베딩 상태를 조회합니다.",
                "operationId": "5b400f4bfc55b2a12fac486f084c3794",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "카테고리 번역·임베딩 상태",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "category_code": {
                                                    "type": "string"
                                                },
                                                "category_name_ko": {
                                                    "type": "string"
                                                },
                                                "embedding_dimensions": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "languages": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "404": {
                        "description": "카테고리를 찾을 수 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/categories/{category}/run-step": {
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "카테고리 단일 스텝 실행",
                "description": "특정 카테고리에 대해 번역 또는 임베딩 단일 스텝을 동기 실행합니다.",
                "operationId": "a27032705a08f3399466da1615b046a0",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "step"
                                ],
                                "properties": {
                                    "step": {
                                        "type": "string",
                                        "enum": [
                                            "translation.zh",
                                            "translation.en",
                                            "embedding.ko",
                                            "embedding.zh",
                                            "embedding.en"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "스텝 실행 완료",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "step": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "completed",
                                                "failed"
                                            ]
                                        },
                                        "result": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "translations": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "category_code": {
                                                    "type": "string"
                                                },
                                                "category_name_ko": {
                                                    "type": "string"
                                                },
                                                "embedding_dimensions": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "languages": {
                                                    "properties": {
                                                        "ko": {
                                                            "properties": {
                                                                "translation_text": {
                                                                    "type": "string",
                                                                    "nullable": true
                                                                },
                                                                "embedding": {
                                                                    "properties": {
                                                                        "status": {
                                                                            "type": "string",
                                                                            "enum": [
                                                                                "pending",
                                                                                "completed"
                                                                            ]
                                                                        },
                                                                        "preview": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "number"
                                                                            },
                                                                            "nullable": true
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "en": {
                                                            "properties": {
                                                                "translation_text": {
                                                                    "type": "string",
                                                                    "nullable": true
                                                                },
                                                                "embedding": {
                                                                    "properties": {
                                                                        "status": {
                                                                            "type": "string",
                                                                            "enum": [
                                                                                "pending",
                                                                                "completed"
                                                                            ]
                                                                        },
                                                                        "preview": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "number"
                                                                            },
                                                                            "nullable": true
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "zh": {
                                                            "properties": {
                                                                "translation_text": {
                                                                    "type": "string",
                                                                    "nullable": true
                                                                },
                                                                "embedding": {
                                                                    "properties": {
                                                                        "status": {
                                                                            "type": "string",
                                                                            "enum": [
                                                                                "pending",
                                                                                "completed"
                                                                            ]
                                                                        },
                                                                        "preview": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "number"
                                                                            },
                                                                            "nullable": true
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "입력값 검증 실패 또는 전제조건 불만족"
                    },
                    "401": {
                        "description": "인증 필요"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/categories/{category}/update-text": {
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "카테고리 텍스트 업데이트",
                "description": "카테고리의 특정 언어 텍스트를 업데이트하고 해당 언어의 임베딩을 삭제합니다.",
                "operationId": "c8d924f04d472136273a2cc11560cd03",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "field",
                                    "value"
                                ],
                                "properties": {
                                    "field": {
                                        "type": "string",
                                        "enum": [
                                            "category_name_ko",
                                            "category_name_en",
                                            "category_name_zh"
                                        ]
                                    },
                                    "value": {
                                        "type": "string",
                                        "nullable": true,
                                        "maxLength": 255
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "업데이트 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "updated": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "404": {
                        "description": "카테고리를 찾을 수 없음"
                    },
                    "422": {
                        "description": "입력값 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/auth/{provider}/redirect": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "OAuth 로그인 리다이렉트",
                "description": "지정된 제공자의 OAuth 로그인 페이지로 리다이렉트합니다.",
                "operationId": "4646f9fe1c2d8e70d188b43ef57c07f7",
                "parameters": [
                    {
                        "name": "provider",
                        "in": "path",
                        "description": "OAuth 제공자",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "google",
                                "github",
                                "naver"
                            ]
                        }
                    },
                    {
                        "name": "client",
                        "in": "query",
                        "description": "OAuth 완료 후 리다이렉트될 클라이언트 유형",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "web",
                            "enum": [
                                "web",
                                "app"
                            ]
                        }
                    }
                ],
                "responses": {
                    "302": {
                        "description": "OAuth 제공자 로그인 페이지로 리다이렉트"
                    }
                }
            }
        },
        "/api/auth/{provider}/callback": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "OAuth 로그인 콜백",
                "description": "OAuth 제공자의 인증 결과를 처리하고 Sanctum 토큰을 발급한 후 프론트엔드로 리다이렉트합니다.",
                "operationId": "c6e6659c9436d28a50e06aacc2e0295c",
                "parameters": [
                    {
                        "name": "provider",
                        "in": "path",
                        "description": "OAuth 제공자",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "google",
                                "github",
                                "naver"
                            ]
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "OAuth 인증 코드",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "OAuth state 파라미터",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "302": {
                        "description": "프론트엔드로 리다이렉트 (URL에 token 쿼리 파라미터 포함)"
                    },
                    "429": {
                        "description": "요청 횟수 초과"
                    }
                }
            }
        },
        "/api/recommend": {
            "post": {
                "tags": [
                    "Recommend"
                ],
                "summary": "카테고리 추천",
                "description": "입력 텍스트를 분석하여 pgvector 코사인 유사도 기반으로 카테고리를 추천합니다. text가 비어있으면 일반 카테고리 목록을 페이지네이션으로 반환합니다.",
                "operationId": "c0c2c2f06d5fd5be7082cb942cf348e4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "target_language"
                                ],
                                "properties": {
                                    "text": {
                                        "type": "string",
                                        "nullable": true,
                                        "maxLength": 500
                                    },
                                    "target_language": {
                                        "type": "string",
                                        "enum": [
                                            "ko",
                                            "zh",
                                            "en"
                                        ]
                                    },
                                    "page": {
                                        "type": "integer",
                                        "default": 1,
                                        "minimum": 1
                                    },
                                    "per_page": {
                                        "type": "integer",
                                        "default": 20,
                                        "maximum": 100,
                                        "minimum": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "추천 결과",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "category_code": {
                                                        "type": "string"
                                                    },
                                                    "category_name": {
                                                        "type": "string"
                                                    },
                                                    "similarity_score": {
                                                        "type": "number",
                                                        "example": 0.9876
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "입력값 검증 실패"
                    }
                }
            }
        },
        "/api/health": {
            "get": {
                "tags": [
                    "System"
                ],
                "summary": "서버 상태 확인",
                "description": "API 서버의 정상 동작 여부를 확인합니다.",
                "operationId": "3a3e734db091faa42023e2f850253033",
                "responses": {
                    "200": {
                        "description": "서버 정상 동작",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "ok"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format: Bearer {token}",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "tags": [
        {
            "name": "Auth",
            "description": "Auth"
        },
        {
            "name": "Categories",
            "description": "Categories"
        },
        {
            "name": "Recommend",
            "description": "Recommend"
        },
        {
            "name": "System",
            "description": "System"
        }
    ]
}